.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 12rem var(--spacing-mobile) 4rem;
  box-sizing: border-box;
}

.loadingContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeCard {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: var(--radius);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.themeContainer {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.name {
  width: 100%;
  font-size: clamp(2.5rem, 5vw, 3.5rem);;
  font-weight: 800;
  color: var(--text-dark);
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  text-align: center;
  margin-top: 1rem;
}

.category {
  width: 100%;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.themeImage {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
  box-shadow: inset 0 8px 12px rgba(0, 0, 0, 0.12);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  min-width: 200px;
  max-width: 500px;
}

.secundaryImagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 0.5rem;
}

.secondaryImageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
  cursor: pointer;
}

.secondaryImage {
  transition: transform 0.5s ease;
  object-fit: cover;
}

.secondaryImage:hover {
  transform: scale(1.1);
}

.divisor {
  margin: 2rem 0;
  background-color: var(--text-dark);
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .themeCard {
    width: 75%;
  }

  .themeContainer {
    flex-direction: column-reverse;
  }

  .themeImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 100vw;
  }
}