.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 12rem var(--spacing-mobile) 4rem;
  box-sizing: border-box;
}

.themeCard {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: var(--radius);
  background-color: #fff;
}