.container {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding-top: 5rem;
  box-sizing: border-box;
  flex: 1;
}