.container {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 12rem var(--spacing-mobile) 4rem;
  box-sizing: border-box;
}

.description {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 1rem;
}

.descriptionTitle {
  margin: 0;
  text-align: center;
  text-shadow: 1px 2px 2px #000;
  font-size: 1.7rem;
}



@media (min-width: 768px) {
  .container {
    gap: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 100vw;
  }
}