.container {
  width: 100%;
  height: calc(100vh + 10.5rem);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
  text-wrap: nowrap;
}

.subtitle {
  color: var(--text-dark);
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  color: var(--text-dark);
  background-color: #fff;
  border-radius: var(--radius);
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.date {
  margin: 0;
}

.span {
  color: var(--primary-color);
  font-weight: 600;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.labelData {
  margin: 0;
  margin-bottom: 0.2rem;
}

.divisor {
  margin: 0;
  background-color: var(--text-dark);
}

.serviceWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.totalPrice {
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    height: calc(100vh + 5rem);
  }
}