.container {
  width: 100%;
  height: calc(100vh + 10.5rem);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}



@media (min-width: 768px) {
  .container {
    height: calc(100vh + 5rem);
  }
}