.container {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  width: 100%;
  min-height: 100vh;
  padding: 12rem var(--spacing-mobile) 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-sizing: border-box;
}