.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 12rem var(--spacing-mobile) 4rem;
  box-sizing: border-box;
}

.itemCard {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: var(--radius);
  background-color: #fff;
}

.itemGrid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  gap: 1rem;
}

.grid1 {
  display: none;
}

.loadingContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.itemImage {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
  box-shadow: inset 0 8px 12px rgba(0, 0, 0, 0.12);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  min-width: 360px;
  max-width: 500px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.name {
  width: 100%;
  font-size: clamp(2.5rem, 5vw, 3.5rem);;
  font-weight: 800;
  color: var(--text-dark);
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  text-align: center;
}

.variant {
  width: 100%;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-light);

  display: -webkit-box;
  line-clamp: 11;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  white-space: nowrap;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
  width: 100%;
}

.divisor {
  margin: 2rem 0;
  background-color: var(--text-dark);
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .itemGrid {
    display: grid;
  }

  .grid1 {
    display: block;
  }

  .name {
    font-size: 5rem;
  }

  .variant {
    font-size: 2.5rem;
  }

  .itemImage {
    position: sticky;
  }

  .grid2 .itemImage {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 100vw;
  }
}