.container {
  width: 100%;
  min-height: min-content;
  height: 5rem;
  background: linear-gradient(45deg, #33c2a6, #23dbde);
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.slogan {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin: 0;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  box-sizing: border-box;
}

.linkItem {
  margin: 0.2rem 0;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min-content;
  white-space: nowrap;
  margin: 0.5rem 0;
  width: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
  filter: invert();
  opacity: 0.7;
}

.icon:hover {
  cursor: pointer;
  transform: translateY(-2px);
  opacity: 1;
}