.sectionTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin-bottom: 2rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
}

.itemContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: auto;
}