.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 12rem var(--spacing-mobile) 4rem;
  box-sizing: border-box;
}

.warning {
  width: auto;
  max-width: 800px;
  margin: 1rem;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  border-bottom: 6px solid var(--primary-color); /* Mantendo o estilo do serviceCard */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  box-sizing: border-box;
}

.warningTitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-dark);
  margin: 0;
}

.warningText {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.5;
  margin: 0;
}

.warningSolution {
  font-size: 1rem;
  color: var(--text-dark);
  background: var(--accent-light); /* Cor leve de fundo para destacar a solução */
  padding: 1.5rem;
  border-radius: var(--radius);
  line-height: 1.6;
  max-width: 90%;
}

.warningSolution a {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.warningSolution a:hover {
  border-bottom: 2px solid var(--primary-color);
  opacity: 0.8;
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .warning {
    width: 100%;
    margin: 2rem auto;
    padding: 3rem 2rem;
  }

  .warningTitle {
    font-size: 1.8rem;
  }

  .warningText, .warningSolution {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 100vw;
  }
}