.tag {
  padding: 0.3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.adult {
  background-color: #7E22CE;
  color: #F3E8FF;
}

.holiday {
  background-color: #B91C1C;
  color: #FEE2E2;
}

.kids {
  background-color: #0369A1;
  color: #E0F2FE;
}

.se {
  background-color: #B45309;
  color: #FEF3C7;
}