.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: min-content;
}

.fieldWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-self: center;
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
}

.label {
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.kitTypeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.kitSimple, .kitCylinder {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  background: white;
  border-radius: var(--radius);
  aspect-ratio: 1 / 1;
  box-shadow: var(--shadow-light);
  transition: all 0.3s ease;
  border-bottom: 5px solid var(--primary-color);
  padding: 0;
  min-height: 150px;
}

.kitSimple:hover, .kitCylinder:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.kitSimpleImage, .kitCylinderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  box-shadow: var(--shadow-light);
}

.kitTypeSelected {
  border: 5px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
}

.kitTypeSelected .reserveLabel {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
}

.cancel {
  background-color: rgb(255, 32, 32);
}

.next {
  background-color: var(--primary-color);
}

.disabled {
  background-color: #4e4e4e;
}

.disabled:hover {
  transform: scale(1);
  background-color: #4e4e4e;
  cursor: not-allowed;
}