.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.cancel {
  background-color: rgb(255, 32, 32);
}

.cancel:hover {
  background-color: rgb(195, 25, 25);
}

.next {
  background-color: var(--primary-color);
}

.next:hover {
  background-color: var(--secondary-color);
}

.disabled {
  background-color: #4e4e4e;
}

.disabled:hover {
  transform: scale(1);
  background-color: #4e4e4e;
  cursor: not-allowed;
}