.themeCard {
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 5px solid var(--primary-color);
  width: 7rem;
  height: auto;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.themeImage {
  transition: transform 0.5s ease;
  object-fit: cover;
}

.themeCard:hover {
  transform: translateY(-5px);
}

.themeCard:hover .themeImage {
  transform: scale(1.1);
}

.info {
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #fff;
}

.themeName {
  font-size: 1.3rem;
  color: var(--text-dark);
  text-transform: capitalize;
  font-weight: 800;
}

.tagWrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  box-sizing: border-box;
}

.selected {
  border: 3px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
}