.container {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 999;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  color: var(--text-dark);
  border: 0.3rem solid var(--primary-color);
}

.cursorLoading {
  cursor: wait;
}

.text {
  font-size: 1.5rem;
  margin: 0;
}

.name {
  font-size: 2rem;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBtn {
  font-size: 1rem;
  color: #fff;
  margin: 0;
}

.cancel {
  padding: 0.5rem;
  border: 0;
  box-sizing: border-box;
  background-color: #10e21e;
  box-shadow: 0 2px 0 #057f07;
  border-radius: 0.7rem;
}

.delete, .disabled {
  background-color: #f10a0a;
  box-shadow: 0 2px 0 #9d0404;
  padding: 0.5rem;
  border: 0;
  box-sizing: border-box;
  border-radius: 0.7rem;
}

.cancel:hover, .delete:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.disabled {
  background-color: #4e4e4e;
  box-shadow: 0 2px 0 #4e4e4e;
}

.disabled:hover {
  cursor: not-allowed;
  transform: scale(1);
  background-color: #4e4e4e;
}