.container {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 12rem var(--spacing-mobile) 4rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}