.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 12rem var(--spacing-mobile) 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  flex: 1;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchResultTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin-bottom: 3rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
}

.hero {
  position: relative;
  width: 100%;
  height: min-content;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.heroContent {
  position: relative;
  z-index: 10;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 5vw, 2rem);
}

.heroTitle {
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  font-weight: 800;
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.9);
  margin: 0;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.heroImage {
  object-fit: cover;
}

.searchWrapper {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.searchWarning {
  font-size: 2rem;
  box-sizing: border-box;
  text-shadow: 2px 3px 2px #000;
  margin: 0;
  text-align: center;
}

.searchResult {
  display: flex;
  
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  height: min-content;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.themeImage {
  transition: transform 0.5s ease;
  object-fit: cover;
}

.themeOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.themeLabel {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .container {
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}