.container {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 12rem var(--spacing-mobile) 4rem;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 40vh;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroContent {
  position: relative;
  z-index: 10;
  width: 90%;
  max-width: 600px;
}

.heroTitle {
  font-size: 2.2rem;
  font-weight: 800;
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.9);
  margin-bottom: 1.5rem;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.searchWrapper {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.searchWarning {
  font-size: 2rem;
  box-sizing: border-box;
  text-shadow: 2px 3px 2px #000;
  margin: 0;
  text-align: center;
  ;
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero {
    height: 50vh;
  }
  
  .heroTitle {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}