@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Fredoka", sans-serif;
  color: #fff;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
}