.container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 10.5rem;
  background: linear-gradient(45deg, #23dbde, #33c2a6);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logoContainer,
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  flex-direction: row;
  gap: 5px;
  order: 1;
  flex: 1;
}

.navigation {
  order: 3;
  width: 100%;
  justify-content: center;
  margin-top: 0.5rem;
}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.title {
  margin: 0;
  cursor: default;
  font-size: 2rem;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .container {
    flex-wrap: nowrap;
    height: 5rem;
  }

  .logoContainer {
    order: 1;
    flex: 0;
  }

  .logoContainer:hover, .title:hover {
    cursor: pointer;
  }

  .navigation {
    order: 2;
    width: auto;
  }
}
