.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  border-radius: 6px;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e7eb;
  padding: 4px 8px;
  border-radius: 20rem;
  font-size: 13px;
  color: var(--text-dark);
  border: 2px solid black;
  gap: 0.5rem;
}

.chip button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.input {
  border: none;
  outline: none;
}
