.container {
  width: 100%;
  min-height: min-content;
  height: 5rem;
  background: linear-gradient(45deg, #33c2a6, #23dbde);
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.25);
}