.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 5rem;
  background: linear-gradient(45deg, #23dbde, #33c2a6);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.title {
  margin: 0;
  cursor: default;
  font-size: 2rem;
}

.menu {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}