.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 10rem;
  height: 10rem;
  border-radius: 100rem;
  border: 1rem  solid #ccc;
  background-color: transparent;
}

@keyframes spin {
  
}