.container {
  width: 100%;
  max-width: 100vw;
  height: calc(100vh + 10.5rem);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 5;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.stepTitle {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
}

.stepSubtitle {
  color: var(--text-dark);
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0;
  margin-bottom: 3rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
  text-wrap: nowrap;
}

.fieldWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-self: center;
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.label {
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
}

.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--accent-light);
}

.eventDateInputError,
.eventDateInputError:focus {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
  border-color: red;
  box-shadow: 0 0 0 3px rgba(red, red, red, 0.5);
}

.eventDateError {
  color: red;
  white-space: nowrap;
  width: min-content;
}

.reserveTypeWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.reserveTypeContainer {
  display: flex;  
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.reserveOption {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  background: white;
  border-radius: var(--radius);
  aspect-ratio: 1 / 1;
  box-shadow: var(--shadow-light);
  transition: all 0.3s ease;
  border-bottom: 5px solid var(--primary-color);
  padding: 0;
}

.reserveOption:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.reserveImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  box-shadow: var(--shadow-light);
}

.reserveLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); 
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background 0.3s ease;
  box-sizing: border-box;
  margin: 0;
  color: #c7c7c7;
}

.selectedType {
  border: 5px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
}

.selectedType .reserveLabel {
  background: rgba(0, 0, 0, 0.5);
  width: min-content;
  height: auto;
  border-radius: 1rem;
  color: #fff;
}

.details {
  background: rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.05rem;
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: calc(100vh + 5rem);
  }

  .panel {
    width: 90%;
  }

  .title {
    align-self: center;
  }

  .reserveTypeContainer {
    max-width: 50%;
  }

  .reserveOption:hover .reserveLabel {
    background: rgba(0, 0, 0, 0.4);
  }

  .reserveOption:hover .reserveImage {
    transform: scale(1.1);
  }
}