.container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: var(--radius);
  background-color: #fff;
  overflow: auto;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    gap: 1rem;
    height: min-content;
    flex-wrap: wrap;
  }
}