.container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: var(--radius);
  background-color: #fff;
  overflow: auto;
}

.emptyContainer {
  box-sizing: border-box;
  margin: 7rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.emptyMessage { 
  margin: 0;
  color: var(--text-dark);
  text-align: center;
}