.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.items {
  display: flex;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.totalPrice {
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
}