.container {
  width: 100%;
  height: calc(100vh + 10.5rem);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.stepTitle {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
}

.stepSubtitle {
  color: var(--text-dark);
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: min-content;
  max-width: 100%;
}

.fieldWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-self: center;
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
}

.label {
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.kitTypeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.kitType {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  background: white;
  border-radius: var(--radius);
  aspect-ratio: 1 / 1;
  box-shadow: var(--shadow-light);
  transition: all 0.3s ease;
  border-bottom: 5px solid var(--primary-color);
  padding: 0;
  min-height: 150px;
}

.kitType:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.kitImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  box-shadow: var(--shadow-light);
}

.kitTypeLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center; 
  color: #e0e0e0;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background 0.3s ease;
  box-sizing: border-box;
  margin: 0;
}

.kitTypeSelected {
  border: 5px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
}

.kitTypeSelected .kitTypeLabel {
  background: rgba(0, 0, 0, 0.6);
  width: min-content;
  height: auto;
  border-radius: 1rem;
  color: #fff;
}

.tablesContainer, .themesContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.tablesContainer::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0.2rem solid var(--primary-color);
  border-radius: 10px;
}

.tablesContainer::-webkit-scrollbar {
  height: 6px;
}

.tablesContainer::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
  border-radius: 10px;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.totalPrice {
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    height: calc(100vh + 5rem);
  }
}