.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: min-content;
  max-width: 100%;
}

.fieldWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-self: center;
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
}

.label {
  color: var(--text-dark);
  margin-bottom: 0.5rem;
  white-space: nowrap;
  align-self: flex-start;
}

.input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
}

.numberOfPeopleLabel {
  align-self: center;
}

.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--accent-light);
}

.numberOfPeopleInputError,
.numberOfPeopleInputError:focus {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
  border-color: red;
  box-shadow: 0 0 0 3px rgba(red, red, red, 0.5);
}

.labelError {
  color: red;
  white-space: nowrap;
  width: min-content;
  margin-bottom: 0.5rem;
}

.tablesContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.tablesContainer::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0.2rem solid var(--primary-color);
  border-radius: 10px;
}

.tablesContainer::-webkit-scrollbar {
  height: 6px;
}

.tablesContainer::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
  border-radius: 10px;
}