.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 8rem var(--spacing-mobile) 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-sizing: border-box;
}

.searchWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}

@media (min-width: 640px) {
  .searchWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .searchWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.searchWarning {
  grid-column: 1 / -1;
  font-size: 1.2rem;
  color: var(--text-light);
  text-align: center;
  padding: 4rem 0;
}