.card {
  position: relative;
  background: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 5px solid var(--primary-color);
  width: 10rem; 
  cursor: pointer;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  box-shadow: 0 0 10px var(--secondary-color);
  box-sizing: border-box;
}

.img {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.name {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0;
  max-width: 12rem;
}

.card:hover .img {
  transform: scale(1.05);
}

.info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  box-sizing: border-box;
}

.variant {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-light);
  font-weight: 600;
}

.description {
  font-size: 0.95rem;
  color: var(--text-light);
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: calc(1.4em * 3);
  margin: 0;
}

.price {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.subButton, .addButton {
  background-color: red;
  outline: none;
  border: 0;
  border-radius: var(--radius);
  color: #fff;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.subButton:hover, .addButton:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
}

.subButton:hover {
  background-color: rgb(162, 0, 0);
}

.addButton {
  background-color: var(--primary-color);
}

.quantity {
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0;
}

.quantity.blue {
  color: #000;
  background-color: var(--secondary-color);
  border-radius: var(--radius);
}