.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 2rem;
}

.inputContainer {
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
}

.inputContainer:disabled .input {
  background-color: #d0d0d0;
}

.labelForCheckbox {
  color: var(--text-dark);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.label {
  color: var(--text-dark);
}

.generalWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  background-color: #fff;
  transition: all 0.3s ease;
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
}

.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--accent-light);
}

.cepInputError,
.cityInputError,
.neighborhoodInputError,
.streetInputError,
.numberInputError,
.cepInputError:focus,
.cityInputError:focus,
.neighborhoodInputError:focus,
.streetInputError:focus,
.numberInputError:focus {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  transition: all 0.3s ease;
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
  border-color: red;
  box-shadow: 0 0 0 3px rgba(red, red, red, 0.5);
}

.hideInput {
  display: none;
}

.cepError, .cityError, .neighborhoodError, .streetError, .numberError {
  color: red;
  white-space: nowrap;
  width: min-content;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.cancel {
  background-color: rgb(255, 32, 32);
}

.cancel:hover {
  background-color: rgb(195, 25, 25);
}

.next {
  background-color: var(--primary-color);
}

.next:hover {
  background-color: var(--secondary-color);
}

.disabled {
  background-color: #4e4e4e;
}

.disabled:hover {
  transform: scale(1);
  background-color: #4e4e4e;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .generalWrapper {
    flex-direction: row;
  }

  .hideInput {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .generalWrapper {
    flex-direction: row;
  }
}