.warning {
  width: auto;
  max-width: 800px;
  margin: 7rem auto;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  border-bottom: 6px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  box-sizing: border-box;
}

.warningTitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-dark);
  margin: 0;
  cursor: default;
}

.warningText {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.5;
  margin: 0;
  cursor: default;
}

.warningSolution {
  font-size: 1rem;
  color: var(--text-dark);
  background: var(--accent-light);
  padding: 1.5rem;
  border-radius: var(--radius);
  line-height: 1.6;
  max-width: 90%;
  cursor: default;
}

.warningSolution a {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.warningSolution a:hover {
  border-bottom: 2px solid var(--primary-color);
  opacity: 0.8;
}

@media (min-width: 768px) {
  .warning {
    width: 100%;
    margin: 10rem auto;
    padding: 3rem 2rem;
  }

  .warningTitle {
    font-size: 1.8rem;
  }

  .warningText, .warningSolution {
    font-size: 1.2rem;
  }
}