.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f5f5, #e0e0e0);
  z-index: 1;
  padding: 12rem var(--spacing-mobile) 4rem;
}

.title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
  text-wrap: nowrap;
}

.subtitle {
  color: var(--text-dark);
  margin: 0;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 1rem 0;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.totalPrice {
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.cancel {
  background-color: rgb(255, 32, 32);
}

.cancel:hover {
  background-color: rgb(195, 25, 25);
}

.next {
  background-color: var(--primary-color);
}

.next:hover {
  background-color: var(--secondary-color);
}

.disabled {
  background-color: #4e4e4e;
}

.disabled:hover {
  transform: scale(1);
  background-color: #4e4e4e;
  cursor: not-allowed;
}