.personalContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  transform: translateY(-10px);
  max-width: 600px;
}

.title {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0;
  margin-bottom: 2rem;
  text-align: left;
  border-left: 6px solid var(--primary-color);
  padding-left: 1rem;
}

.registerSection {
  margin: 0;
  color: var(--text-dark);
  font-size: 1.2rem;
  border-left: 3px solid var(--text-dark);
  padding-left: 0.5rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  color: var(--text-dark);
}

.email,
.password {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  background-color: #fff;
  transition: all 0.3s ease;
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
}

.password {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.email:focus,
.password:focus-within {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--accent-light);
  background-color: white;
}

.emailInputError,
.passInputError,
.emailInputError:focus,
.passwordInputError:focus {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--text-dark);
  outline: none;
  box-sizing: border-box;
  outline: none;
  justify-content: space-between;
  border-color: red;
  box-shadow: 0 0 0 3px rgba(red, red, red, 0.5);
}

.passInputError, .passInputError:hover {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.emailError, .passError {
  color: red;
  white-space: nowrap;
  width: min-content;
}

.passInput {
  width: 100%;
  outline: none;
  border: 0;
  font-size: 1.2rem;
  color: var(--text-dark);
}

.showBtn {
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showBtnIcon {
  color: #777b80;
  cursor: pointer;
}

.buttonsWrapper {
  display: flex;
  gap: 1rem;
}

.btn, .disabled {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  white-space: nowrap;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: transform 0.2s active;
  outline: none;
}

.btn:hover {
  transform: scale(1.02);
  background-color: var(--secondary-color);
}

.btn:active {
  transform: scale(0.98);
}

.disabled {
  background-color: #4e4e4e;
}

.disabled:hover {
  transform: scale(1);
  background-color: #4e4e4e;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
  }

  .title {
    font-size: 2.8rem;
  }
}

@media (min-width: 1024px) {
  .email,
  .password,
  .emailInputError,
  .emailInputError:focus {
    font-size: 1.5rem;
  }

  .passInput {
    font-size: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 100vw;
  }
}